body{color: #262626;height: 1000px;}
.carte{
    width: 350px !important;
    margin-left: 110px;
    border: solid 3px #e04848 !important;
}
#contact h1 {
    margin-top: 50px;
    text-align: center;
}
#contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: 10px;
    /* margin-left: 75px !important; */
}
#localiser{
    text-align: center !important;
    margin-bottom: 40px !important;
    margin-top: 60px !important;
    color: black;
}

.btn-dark{
    padding: 10px !important;
    letter-spacing: 1.2px !important;
    font-size: 5px !important;
}

#contact{
    color: black;
}
#contact form fieldset {
    padding: 10px;
}

#coordo legend {
    padding: 0 5px;
    font-weight: bold;
}

#coordo label {
    margin-right: 10px;
}

#coordo input, #coordo select {
    flex: 1;
}

#coordo div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#coordo input[type="checkbox"] {
    margin-right: 5px;
}

#coordo #marques label {
    text-transform: capitalize;
}

#coordo fieldset {
    width: fit-content;
    margin: auto;
}

#motif {
    align-self: flex-start;
}

#motif legend {
    padding: 0 5px;
    font-weight: bold;
}

#motif div {
    margin: 10px;
}

#motif label {
    margin-left: 10px;
}

#controles {
    margin-top: 100px;
    float: left;
    margin-right:550px;
}

#controles input {
    padding: 15px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-size: 13px !important;
}

#controles input:first-child {
    margin-right: 10px;
}

input:valid, input:not([type="button"]):not([type="reset"]) {
    color: green;
}
input:invalid {
    color: red;
}

#coordo div.input-validation {
    margin: 0;
}

input[type="text"]:valid ~ .input-validation::before,
input[type="email"]:valid ~ .input-validation::before {
    content: "✔";
    margin-left: 5px;
    color: green;
}

@media screen and (max-width:576px) {
    #motif {
        margin-top: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    #contact {
        display: flex;
        flex-direction: column;
    }
    #contact h1 {
        width: 100%;
    }
    #coordo {
        width: 100%;
    }
    #motif {
        width: fit-content;
    }
    #controles {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}